<footer class="footer">
  <div class="footer__content container">
    <p class="footer__text">
      © 2025 | All Rights Reserved | Developed with
      <span class="footer__heart" aria-label="heart">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="14"
          height="14"
          viewBox="0 0 24 24"
          fill="rgba(255, 0, 0, 0.4)"
        >
          <path
            d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 
                   2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 
                   4.5 2.09C13.09 3.81 14.76 3 16.5 3 
                   19.58 3 22 5.42 22 8.5c0 3.78-3.4 
                   6.86-8.55 11.54L12 21.35z"
          />
        </svg>
      </span>
      by
      <a href="#" class="footer__link">GoITeens Students</a>
    </p>
    
    <div class="footer__modal-window" style="display: none">
      <!-- <svg></svg> -->
      <div class="footer__team-content">
        <div class="footer__team-img">
          <img src="../src/images/pic-desktop@1x.png" alt="cnjkwnevje" class="footer__team-photo" />
        </div>
        <div class="footer__team-info">
          <ul class="footer__team-list">
            <li class="footer__team-item">
              <h2 class="footer__team-title">WHO</h2>
              <p class="footer__team-text">something</p>
            </li>

            <li class="footer__team-item">
              <h2 class="footer__team-title">POSITION</h2>
              <p class="footer__team-text">something</p>
            </li>

            <li class="footer__team-item">
              <h2 class="footer__team-title">CONTRIBUTION</h2>
              <p class="footer__team-text">something</p>
            </li>

            <li class="footer__team-item">
              <h2 class="footer__team-title">ADDITIONALLY</h2>
              <p class="footer__team-text">something</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="back-to-top" id="backToTop">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    <path d="M12 19V6M5 13l7-7 7 7"></path>
  </svg>
</div>
