<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a class="header__logo" href="#">
        <svg class="header__logo-icon"> 
          <use href="/src/images/symbol-defs.svg#icon-logo"></use> 
        </svg>
      </a>

      <div class="header__sign">
        <button class="header__sign-in" type="button" data-signIn-open>
          Sign In
        </button>
        <button class="header__sign-up" type="button" data-signUp-open>
          Sign Up
        </button>
      </div>
    </nav>

    <div class="header__sections">
      <div class="header__central">
        <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
        <div class="header__inputs">
          <div class="header__input-wrap">
            <input
              type="text"
              class="header__search"
              placeholder="Start searching"
            />

            <svg class="header__icon"> 
              <use href="/src/images/symbol-defs.svg#icon-search-icon"></use> 
            </svg> 

          </div>
          <div class="header__input-wrap">
            <input
              type="text"
              class="header__country"
              placeholder="Choose country"
            />

            <svg class="header__icon"> 
              <use href="/src/images/symbol-defs.svg#icon-choose-country-icon"></use> 
            </svg> 

          </div>
        </div>

        <button class="header__btn header__btn-dark" id="themeToggle">
          <p class="header__btn-text">BLACK THEME</p>
          <div class="header__circle"></div>
        </button>
      </div>
    </div>
  </div>
</header>
