<header class="header">
    <div class="container">

        <div class="header__sections">

          <a class="header__logo" href=""></a>

          <div class="header__central">
          <h1 class="header__title">FIND BEST EVENTS AROUND THE WORLD</h1>
           
            <div class="header__inputs">
            
        <div class="header__input-wrap">
            <input type="text" name="" id="" class="header__search" placeholder="Start searching">
        </div>
        <div class="header__input-wrap">
            <input type="text" name="" id="" class="header__country" placeholder="Choose country">
        </div> 
            </div>


            <div class="header__login"></div>
                    <a href=""></a>
            </div>
        </div>
    </div>
</header>