<div class="backdrop is-hidden">
  <div class="modal">
    <header class="modal-header">
      <img src="avatar.jpg" alt="Author Avatar" class="author-avatar">
      <span class="author-name">BLACK EYED PEAS</span>
      <button class="modal-close">
        <svg class="icon-close">
          <use href="sprite.svg#icon-close"></use>
        </svg>
      </button>
    </header>

    <main class="modal-body">
      <img src="blackeyedpeas.jpg" alt="Poster Image" class="poster">

      <section class="modal-content">
        <h2>INFO</h2>
        <p>Atlas Weekend is the largest music festival in Ukraine. More than 200 artists will create a proper music festival atmosphere on 10 stages</p>

        <h2>WHEN</h2>
        <p>2021-06-09<br>20:00 (Kyiv/Ukraine)</p>

        <h2>WHERE</h2>
        <p>Kyiv, Ukraine<br>VDNH</p>

        <h2>WHO</h2>
        <p>The Black Eyed Peas</p>

        <h2>PRICES</h2>
        <p>Standart 300–500 UAH</p>
        <button>BUY TICKETS</button>
        <p>VIP 1000–1500 UAH</p>
        <button>BUY TICKETS</button>

        <button class="more-button">MORE FROM THIS AUTHOR</button>
      </section>
    </main>
  </div>
</div>
