<div class="backdrop is-hidden" data-signUp> 
    <div class="signUp">
        <button data-signUp-close type="button" class="signUp__close-button">
            X
        </button>
        <h2 class="signUp__title">Sign Up</h2>
        <span class="signUp__description">Please sign up to create an account</span>
        <form class="signUp__form">
            <label class="signUp__label">Your name
                <input type="text" class="signUp__field" id="signUp-name" placeholder="John Doe">
            </label>
            <label class="signUp__label">Your email
                <input type="email" class="signUp__field" id="signUp-email" placeholder="example@gmail.com">
            </label>
            <label class="signUp__label">Your password
                <input type="password" class="signUp__field" id="signUp-password" placeholder="********">
            </label>
            <label class="signUp__label">Confirm password
                <input type="password" class="signUp__field" id="signUp-confirm" placeholder="12345678">
            </label>
        </form>
        <div class="signUp__btn-wrap">
            <button class="signUp__btn">SIGN UP</button>
        </div>
    </div>
</div>