.hero {
  padding-bottom: 60px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 128px;
    margin: 30px 5px;
  }
  &__img-wrap {
    border-radius: 50px 0;
    width: 128px;
    height: 161px;
    display: flex;
    overflow: hidden;
    justify-content: center;
  }
  &__img-teg {
    display: flex;
    max-width: none;
  }
  &__name {
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: $title;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  &__date {
    padding-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: $text;
  }
  &__place {
    font-weight: 600;
    font-size: 12px;
    color: $text;
  }
  &__message {
    text-align: center;
    margin-top: 10px;
    color: $text;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    align-items: end;
  }
  &__btn {
    padding: 5px 12px;
    background-color: transparent;
    color: $text;
    border: none;
    border: 1px solid transparent;
    transition: border 250ms ease-in-out;
    cursor: pointer;
    border-radius: 10px 0px 10px 0px;
  }
  &__btn:not(:last-child) {
    margin-right: 5px;
  }
  &__btn:hover {
    border: 1px solid $borderHover;
  }
  &__dots {
    color: $text;
    margin-right: 5px;
  }
  &__btn-active {
    border: 1px solid $title;
    color: $title;
  }
}

// .hero__btn {
//   border-radius: 10px 0px 10px 0px;
//   border: 2px solid transparent;
//   background: linear-gradient(45deg,transparent,transparent) border-box; /*3*/
//   mask: /*4*/
//     linear-gradient(transparent 0 0) padding-box,
//     linear-gradient(#000 0 0);
//   mask-composite: exclude; /*5*/
//   transition: background 250ms ease-in-out;
// }
// .hero__btn:hover {
//   animation-name: gradientAnimation;
//    background: linear-gradient(135deg, $title, transparent);
// }
// @keyframes gradientAnimation {
//   from {
//     background: linear-gradient(135deg, $title, transparent);
//   } to {
//     background: linear-gradient(135deg, transparent, $title);
//   }
// }

@media screen and (min-width: 720px) {
  .hero {
    &__item {
      max-width: 180px;
    }
    &__name {
      font-size: 16px;
    }
    &__date {
      font-size: 16px;
    }
    &__place {
      font-size: 14px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-bottom: 80px;
    &__item {
      margin: 30px 20px;
    }
  }
}
